<div class="container">
  <input
    class="new-todo"
    placeholder="What needs to be done?"
    autofocus
    [value]="text"
    (keyup)="changeText($event)"
    (keyup.enter)="addTodo()"
  />
  <button (click)="addEditedTodo()">Edit Todo</button>
  <button (click)="addTodo()">Add ToDo</button>

  <h2>Todos</h2>
  <ng-container *ngFor="let todo of todos">
    <div>
      <span (click)="completeTodo(todo.id, todo.text)"> {{ todo.text }}</span>
      <button (click)="editTodo(todo.id, todo.text)">Edit</button>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </div>
  </ng-container>

  <h2>Completed Todos</h2>
  <ng-container *ngFor="let completeTodo of completedTodos">
    <div class="completedTodos">
      {{ completeTodo.text }}
    </div>
  </ng-container>
</div>
